.container {
  margin-top: 3rem;
  section {
    display: none;
  }
  @media (max-width: 600px) {
    section {
      display: block;
    
    }
  }
  @media (max-width: 600px) {
    table {
      display: none;
    }
  }
  
}
