.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: -10rem;
  overflow-x: scroll;

  div {
    background: var(--shape);
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    color: var(--text-title);
    @media (max-width: 800px) {
      min-width: 300px;
    }
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    strong {
      display: block;
      margin-top: 0.5rem;
      font-size: 2rem;
      font-weight: 500;
      line-height: 3rem;
      &.deposit {
        color: var(--green);
      }
      &.withraw {
        color: var(--red);
      }
    }
    label {
      color: var(--text-body);
      font-size: 0.8rem;
    }
    &.total {
      background: var(--green);
      color: var(--shape);

      label {
        color: var(--shape);
      }
    }
  }
}
