.containerHeader {
  background: var(--rose);
}
.add {
  display: none;
  @media (max-width: 600px) {
    display: block;
  }
  span {
    position: fixed;
    bottom: 0.4rem;
    right: 0.5rem;
  }
}
.content {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2rem 1rem 12rem;

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    img {
      width: 11rem;
    }
    button {
      font-size: 1rem;
      border: 0;
      padding: 0 2rem;
      border-radius: 0.4rem;
      color: var(--shape);
      background-color: var(--blue-buttom);
      height: 3rem;
      transition: filter 0.1s;
      &.out {
        background-color: var(--shape);
        color: #000;
        border-bottom: 3px solid var(--red);
      }
    }

    >input {
      display: none;
    }
    >label {
      font-size: 1rem;
      color: #000;
      border: 0;
      padding: 0 2rem;
      border-radius: 0.4rem;
      background-color: var(--shape);
      height: 3rem;
      display: flex;
      align-items: center;
      transition: filter 0.1s;
      &.checked {
        color: var(--shape);
        background: var(--text-title);
      }
    }

    & + div {
      margin-top: 1rem;
    }
  }
}
