.container {
  width: 100%;
  border-spacing: 0 0.5rem;

  th {
    color: var(--text-body);
    font-weight: 400;
    padding: 1rem 2rem;
    text-align: left;

    line-height: 1.5rem;
  }
  td {
    padding: 1rem 2rem;
    cursor: pointer;

    border: 0;
    background: var(--shape);
    color: var(--text-body);
    border-radius: 0.25rem;
    overflow: hidden;

    &:first-child {
      color: var(--text-title);
    }
    &.deposit {
      color: var(--green);
    }
    &.withraw {
      color: var(--red);
    }
    div{
      &.desc{
        overflow: hidden;
        max-width: 23rem;
        width: 100%;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
      &.title{
        overflow: hidden;
        max-width: 17rem;
        width: 100%;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }
    
  }
}
